<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chris Scheidies</title>
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>
<body>
  <div class="banner">
    <img src="{{ "img/banner.jpg" | relURL }}" alt="Vinyl record" />
  </div>
  <main>
    <h1>Chris Scheidies</h1>
    <p class="tagline">Writer : Musician : Chess Player</p>
    <nav>
      <ul>
        <li><a href="{{ "bio/" | relURL }}">⚛️ Bio</a></li>
        <li><a href="{{ "work/" | relURL }}">🏗️ Work</a></li>
        <li><a href="{{ "press/" | relURL }}">🗞️ Press</a></li>
        <li><a href="{{ "chess/" | relURL }}">♟️ Chess</a></li>
        <li><a href="{{ "bass/" | relURL }}">🎸 Bass</a></li>
      </ul>
    </nav>
    <div class="links">
      <a href="https://www.bleedingpeanutbutter.com/" target="_blank">🔗 Bleeding Peanut butter Blog</a><br>
      <a href="https://music.apple.com/profile/scheidies" target="_blank">🎵 Chris Scheidies on Apple Music</a>
    </div>
  </main>
</body>
</html>
